.sidenav {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  color: white;
  overflow-x: hidden;
  padding-top: 20px;
  height: 100%;
}

.sidenav h2 {
  color: white;
  text-align: center;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
}

.sidenav ul li a:hover {
  background-color: #575757;
}

.subnav {
  list-style-type: disc;
  padding-left: 20px;
}

.subnav li {
  font-size: 16px;
}
