/* Sidenav.css */
/* Adjust styles as needed for your Sidenav component */

/* Topnav.css */
/* Adjust styles as needed for your Topnav component */

.area-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 1500vh; /* Adjust height as needed */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.filters {
  margin-top: 20px; /* Adjust spacing from top as needed */
  margin-bottom: 20px;
}

.chart {
  width: 2000px; /* Adjust subtracted value to control space from right */
  height: 600px; /* Adjust height of chart container */
  margin-top: 20px; /* Adjust spacing from top as needed */
  padding: 20px;
}
